.navbar{
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
}

.navbar__wrapper{
  max-width: var(--default-content-max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.navbar__logo {
  //width: 250px;
  height: 40px;
}
