<div class="wrapper">
  <section class="banner-section">
    <div class="banner">
      <div class="banner__info">
        <span class="banner__title">Acerca de nosotros</span>
        <span class="banner__text"> Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Autem cumque eligendi
          mollitia nisi non, pariatur quidem repellendus rerum
          temporibus! A adipisci cum, dolore doloremque eligendi
          facilis quia sequi tenetur voluptatem!
        </span>
        <button class="banner__button">CONOCER MÁS</button>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="services-section__title">
      <span> SERVICIOS </span>
    </div>

    <div class="services-section__cards-wrapper" [ngClass]="servicesSectionClass">
      @for (service of services; track service.title){
        <card [cardInfo]="service"></card>
      }
    </div>
    <div class="action-area" (click)="toggleServicesView()">
      <span class="action-area__text">MOSTRAR MÁS</span>
      <span class="action-area__icon material-symbols-outlined">keyboard_arrow_down</span>
    </div>
  </section>
</div>
