<div class="wrapper">
  <section class="banner-section">
    <div class="banner">
      <div class="banner__info">
        <span class="banner__title">Acerca de nosotros</span>
        <span class="banner__text"> En BiOINDES,
          desarrollamos proyectos sostenibles en México,
          integrando soluciones innovadoras y responsables.
          Nuestro enfoque equilibra economía, sociedad y ambiente para beneficiar a clientes y comunidades.
          Con base en nuestros valores, promovemos un futuro donde la sostenibilidad guíe cada decisión.
        </span>
        <button class="banner__button">CONOCER MÁS</button>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="services-section__title">
      <h2 class="services-section__h2">SERVICIOS</h2>
      <div class="services-section__decoration-div">
        <img src="/icons/CurvaDegradado.svg" alt="" class="services-section__img">
      </div>
    </div>

    <div class="services-section__cards-wrapper" [ngClass]="servicesSectionClass">
      @for (service of services; track service.title){
        <card [cardInfo]="service"></card>
      }
    </div>
    <div class="action-area" (click)="toggleServicesView()">
      <span class="action-area__text">{{ textButton }}</span>
      <span class="action-area__icon material-symbols-outlined">keyboard_arrow_down</span>
    </div>
  </section>
</div>
