@import "../../../../../styles.scss";
.banner {
  height: 37rem;
  background-image: url('/images/worker.jpg');
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.50);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #ffffff;
  padding: 0 30px

}

.banner__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.banner__title {
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: var(--title-letter-spacing);
  text-align: center;
}

.banner__text {
  max-width: 350px;
  text-align: center;
  font-weight: 200;
  font-size: 0.9rem;
}
// TODO: hacer este boton un componente independiente
.banner__button {
  background-color: var(--white);
  color: var(--strong-blue);
  border: none;
  border-radius: 50px;
  padding: 5px 50px;
  margin-top: 15px;
}

.services-section__cards-wrapper {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 50px 30px;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}



.services-section__title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.services-section__h2 {
  font-size: $font-size-xl;
  color: var(--strong-blue);
}

.services-section__decoration-div{
  width: 17em;
}




.overflow {
  overflow: hidden;
}

.no-overflow {
  overflow: visible;
}

.action-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--strong-blue);
  cursor: pointer;
}


.material-symbols-outlined {
  font-size: 3rem !important;
}

.hide-services {
  height: 300px;
}

.show-services {
  height: fit-content;
}

@media (min-width: 0px) and (max-width: $breakpoint-md) {
  .services-section__cards-wrapper{
    grid: repeat(9, 1fr) / repeat(1, 1fr);
  }
  .banner__title {
    line-height: 3rem;
    margin: 1.5rem;
    font-size: 3rem;
  }
}
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  .services-section__cards-wrapper{
    grid: repeat(5, 1fr) / repeat(2, 1fr);
  }
}

