<div class="wrapper">
  <section class="banner-section">
    <div class="banner">
      <div class="banner__info">
        <span class="banner__title">Acerca de nosotros</span>
        <span class="banner__text"> Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Autem cumque eligendi
          mollitia nisi non, pariatur quidem repellendus rerum
          temporibus! A adipisci cum, dolore doloremque eligendi
          facilis quia sequi tenetur voluptatem!
        </span>
        <button class="banner__button">CONOCER MÁS</button>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="services-section__title">
      <span> SERVICIOS </span>
    </div>

    <div class="services-section__cards-wrapper">
      <card></card>
    </div>
  </section>
</div>
