@import "../../../../styles.scss";
.card {
  //width: 300px;
  //height: 270px;
  width: 18.75rem;
  max-width: 300px;
  height: 16.87rem;

  border-radius: 25px;
  overflow: hidden;
  box-shadow: $box-shadow;
  position: relative;
  font-size: 1.25rem;
}

.card__header {
  display: flex;
  width: 100%;
  height: 40%;
}

.card__icon {
  width: 35%;
  background: linear-gradient(90deg, var(--light-blue) 0%, var(--strong-blue) 90%);
  padding: 25px;
  display: flex;
  align-items: center;
}

.card__description {
  width: 65%;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.card__title {
  font-weight: bold;
  color: var(--strong-blue);
  margin-bottom: 0.5rem;
  line-height: 0.8rem;
  font-size: 1.2em;
}

.card__info {
  line-height: 0.8rem;
}
.card__image {
  width: 100%;
  height: 60%;
  position: relative;
  z-index: 1;
}

.card__img {
  height: 100%;
  //width: 100%;
  object-fit: fill;
}

.card__gradient {
  background: linear-gradient(360deg, var(--white) 0%, transparent 80%);
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 30px;
}



.card__button {
  background-color: var(--strong-blue);
  color: var(--white);
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, 0);
  //width: 6.25rem;
  //height: 1.25rem;
  font-size: .5em; //la mitad de los 1.25 rem establecidos por la card
  z-index: 3;
  text-align: center;
  justify-content: center;
  padding: 0.25rem 1rem;

  &.card__button:hover{
    background-color: var(--strong-blue-emphasis);
  }
}


@media (min-width: 0px) and (max-width: $breakpoint-md) {
  //.card {
  //  width: 28.12rem;
  //  height: 23.12rem;
  //}
}
