<div class="wrapper">
  <section class="section section--nosotros">
    <div class="section__info section__info--nosotros">
      <div class="section__title section__title--text-align-start">
        <h1 class="section__h1">
          NOSOTROS
        </h1>
        <div class="section__decoration-wrapper">
          <img class="section__title-decoration" src="/icons/CurvaDegradado.svg" alt="curva">
        </div>
      </div>
      <p class="section__p section__p--nosotros">
        En BiOINDES, somos una empresa comprometida con la conceptualización y materialización de proyectos que impulsen
        un desarrollo sostenible en México. Nos enfocamos en brindar soluciones innovadoras y responsables que integren
        las necesidades económicas, sociales y ambientales de nuestros clientes y sus comunidades. Basados en nuestros
        valores fundamentales, buscamos construir un futuro donde la sostenibilidad sea el eje de cada decisión.
        <br/>
        <br/>
        Trabajamos desde la premisa de que el desarrollo económico y el equilibrio ecológico no son opuestos, sino
        aliados indispensables para construir un mundo mejor. Nuestro equipo multidisciplinario se dedica a crear
        conciencia, generar valor y construir confianza a través de acciones concretas que transformen ideas en
        realidades tangibles.</p>
    </div>
    <div class="section__img-wrapper">
      <img class="section__img" src="/images/Nosotros.jpg" alt="Nosotros.jpg" class="section__img">
    </div>
  </section>


  <div class="sections-wrapper">
    <section class="section section--mision">
      <div class="section__info section__info--mision">
        <div class="section__title">
          <h1 class="section__h1 section__h1--white">
            MISIÓN
          </h1>
        </div>
        <p class="section__p">
          En BiOINDES nuestra misión es ayudar a la conceptualización y materialización de los proyectos de nuestros clientes en la república mexicana, a partir de tres premisas fundamentales.
          <br/> <br/>
          Crear conciencia sobre el desarrollo sustentable y la observancia institucional.
          Crear valor en la cadena productiva, la sociedad y el medio ambiente.
          Crear confianza a partir de acciones que evidencien que el desarrollo económico va de la mano del equilibrio ecológico. </p>
      </div>
    </section>

    <hr/>

    <section class="section section--vision">
      <div class="section__info section__info--vision">
        <div class="section__title">
          <h1 class="section__h1 section__h1--white">
            VISIÓN
          </h1>
        </div>
        <p class="section__p">
          Ser el referente líder en México para proyectos sostenibles, reconocidos por nuestra capacidad de integrar
          innovación, desarrollo económico y equilibrio ecológico. Aspiramos a convertirnos en socios estratégicos de
          empresas e instituciones que busquen impactar positivamente en la cadena productiva, la sociedad y el medio
          ambiente, promoviendo un cambio significativo hacia un futuro más justo y sustentable.
        </p>
      </div>
    </section>
  </div>
</div>
