<div class="navbar-links__container">
  <ul class="navbar-links__link-options">
    @for (link of navbarLinks; track link.name){
      <li class="navbar-links__link" >
        <a [routerLink]="link.href" routerLinkActive="active">
          {{ link.name }}
        </a>
      </li>
      @if(link?.children) {
        <div class="navbar__link-submenu">
          @for(element of link.children; track element.name) {
            <span> {{ element.name}}</span>
          }
        </div>
      }
    }
  </ul>
</div>
