<div class="navbar-links__container">
  <ul class="navbar-links__link-options">
    @for (link of sections; track link.name){
      <li #navbar_li class="navbar-links__link" [routerLink]="link.href" (mouseenter)="onMouseEnter($event)">
        <a class="navbar-links__a" routerLinkActive="active" [routerLinkActiveOptions] ="{exact: true}">
          {{ link.name }}
        </a>
      </li>
    }
  </ul>
  @if(currentLinkSelected.length > 0 && currentLinkSelected[0].children && isMouseEnter) {
<!--  @if(true){-->
    <div #submenu class="navbar__submenu" (mouseleave)="onMouseLeave()">
      @for(contentChildren of currentLinkSelected[0].children; track contentChildren.name) {
        <a class="navbar__submenu-a" [routerLink]="contentChildren.href" [fragment]="contentChildren.fragment">
          <img class="navbar__submenu-icon" [src]="contentChildren.icon" alt="" class="navbar__submenu-icon"/>
          <p class="navbar__submenu-p"> {{ contentChildren.name }}</p>
        </a>
      }
    </div>
  }
</div>
