@import "../../../../styles.scss";

.navbar-links__container{
}
.navbar-links__link-options{
  display: flex;
  color: #182660;
  font-weight: 500;
  font-size: 0.8rem;
  gap: 30px;
}
.navbar-links__link:hover{
  color: #53A30D;
  cursor: pointer;
}

.navbar__submenu{
  background-color: var(--white);
  background-color: red;
  border-radius: 15px;
  color: var(--strong-blue);
  display: grid;
  gap: 2em .5em;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  height: fit-content;
  max-width: 70rem;
  padding: 3em 2em;
  position: absolute;
  right: 0px;
  top: 20;
}

.navbar__submenu-a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar__submenu-icon {
  width: 3rem;
  margin-bottom: 1em;
}

.navbar__submenu-p {
  text-align: center;
  font-size: 0.8rem;
}


@media screen and (max-width: $breakpoint-sm) {
  //.navbar-links__container{
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: center;
  //}
}
