.navbar-links__container{
}
.navbar-links__link-options{
  display: flex;
  color: #182660;
  font-weight: 500;
  font-size: 0.8rem;
  gap: 30px;
}
.navbar-links__link:hover{
  color: #53A30D;
  cursor: pointer;
}

@media screen and (max-width: var(--breakpoint-xsm)) {
  .navbar-links__container{
    display: none;
  }
}
