@import "../../../../styles.scss";

.navbar-links__container{
}
.navbar-links__link-options{
  display: flex;
  color: #182660;
  font-weight: 500;
  font-size: 0.8rem;
  gap: 30px;
}
.navbar-links__link:hover{
  color: #53A30D;
  cursor: pointer;
}

.navbar__link-submenu{
  height: fit-content;
  //background-color: var(--white);
  background-color: red;
  width: 100%;
  padding: 1em 3em;
  position: absolute;
  top: 60px;
  right: 0;
}

@media screen and (max-width: $breakpoint-sm) {
  .navbar-links__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
