@import "../../../../styles.scss";

$padding-first-panel: 4.3em;
:host {
  display: flex;
  justify-content: center;
  margin-top: -200px;
  position: relative;
  z-index: 2!important;
}

.wrapper {
  height: 700px;
  width: fit-content;
  display: flex;
}


.first-panel {
  padding: $padding-first-panel;
  //padding: 69px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.first-panel__header {
  display: flex;
  align-items: center;
}

.first-panel__header, .first-panel__body {
  padding-right: 2rem;
  width: 100%;
}

.first-panel__p {
  font-size: 0.9rem;
}


.first-panel__header{
  margin-bottom: 2rem;
}

.first-panel__h2 {
  color: var(--strong-blue);
}
// icono
.first-panel__icon-wrapper{
  margin-right: 1.8rem;
}
.first-panel__img {
  width: 6rem;
}

.first-panel, .second-panel {
  border-radius: 40px;
  box-shadow: $box-shadow;
  max-height: 512px;
  min-height: 512px;
  max-width: 638px;
  background-color: var(--white);
}

ul, ol, .first-panel__ul {
  list-style: disc !important;
  list-style-position: initial !important;
}



// SECOND PANEL
.second-panel {
  overflow: hidden;
}
.second-panel {
  position: relative;
  top: $padding-first-panel;
  left: 0px;
  right: 0px;
  transform: translateX(-$padding-first-panel);
}


.second-panel__img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  display: block;
  //vertical-align: top;
}

.second-panel__extra {
  position: absolute;
  top:0;
}



@media (min-width: 0) and (max-width: $breakpoint-lg) {
  .wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    //padding: 0 2rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
  }

  .first-panel__header, .first-panel__body {
    padding-right: 0;
    width: 100%;
  }

  .first-panel__p {
    font-size: 0.7rem;
  }

  .first-panel__h2 {
    color: var(--strong-blue);
    font-size: $font-size-sm;
  }

  // SECOND PANEL
  .second-panel {
    position: relative;
    top: -$padding-mobile-x-sm;
    right: 0;
    left: 0;
    //top: $padding-first-panel;
    //left: 0px;
    //right: 0px;
    transform: translateX(0);
    height: 100%;
    flex-basis: 100px;
  }

  .second-panel__img{
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .first-panel {
    padding: $padding-mobile-x-sm $padding-mobile-x-sm  calc($padding-mobile-x-sm + 1em) $padding-mobile-x-sm  ;
  }

  .first-panel, .second-panel{
    max-height: none;
    min-height: 512px;
    max-width: 80%;
  }


}
