<div class="wrapper">
  <div class="first-panel">
    <div class="first-panel__header">
      <div class="first-panel__icon-wrapper">
        <img [src]="serviceOffered.iconPath" alt="" class="first-panel__img">
      </div>
      <div class="first-panel__title-wrapper">
        <h2 class="first-panel__h2 title-large">{{ serviceOffered.title }}</h2>
      </div>
    </div>
    <div class="first-panel__body">
<!--      <p class="first-panel__p">Lorem ipsum dolor sit amet, consectetur-->
<!--        adipisicing elit. A alias amet blanditiis culpa cum enim est expedita-->
<!--        explicabo illum magni maxime nam provident qui quisquam repudiandae,-->
<!--        similique sunt tempore vero?-->
<!--        Lorem ipsum dolor sit amet, consectetur-->
<!--        adipisicing elit. A alias amet blanditiis culpa cum enim est expedita-->
<!--        explicabo illum magni maxime nam provident qui quisquam repudiandae,-->
<!--        similique sunt tempore vero?-->
<!--        Lorem ipsum dolor sit amet, consectetur-->
<!--        adipisicing elit. A alias amet blanditiis culpa cum enim est expedita-->
<!--        explicabo illum magni maxime nam provident qui quisquam repudiandae,-->
<!--        similique sunt tempore vero?-->
<!--      </p>-->
      <div class="first-panel__p" [innerHTML]="serviceOffered.fullText"></div>
    </div>
  </div>
  <!-- this inside first panel to calculate properly position top and left  -->
  <div class="second-panel">
    <img [src]="serviceOffered.imgPath" alt="" class="second-panel__img">
<!--      <div class="second-panel__extra">-->
<!--        <img src="/images/Bioindes_logo.png" alt="" class="second-panel__img second-panel__img&#45;&#45;brand">-->
<!--      </div>-->
  </div>

</div>
