@import "../../../../styles.scss";

$padding-first-panel: 4.3em;
:host {
  display: flex;
  justify-content: center;
  margin-top: -200px;
  position: relative;
  z-index: 2!important;
}

.wrapper {
  height: 700px;
  width: fit-content;
  display: flex;
  justify-content: center;
  padding: $padding-mobile-x-sm;
}


.first-panel {
  padding: $padding-first-panel;
  display: flex;
  flex-direction: column;
  position: relative;
}

.first-panel__header {
  display: flex;
  align-items: center;
  margin-bottom: $padding-mobile-x-sm;
}

.first-panel__header, .first-panel__body {
  padding-right: 2rem;
  width: 100%;
}

.first-panel__p {
  font-size: 0.9rem;
}

.first-panel__title-wrapper{
  width: 70%;
}

.first-panel__h2 {
  color: var(--strong-blue);
}

// icono
.first-panel__icon-wrapper{
  margin-right: 0.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
}
.first-panel__img {
  width: 8.5rem;
}

.first-panel, .second-panel {
  border-radius: 40px;
  box-shadow: $box-shadow;
  height: 512px;
  // min-width: 638px;
  background-color: var(--white);
}

ul, ol, .first-panel__ul {
  list-style: disc !important;
  list-style-position: initial !important;
}



// SECOND PANEL
.second-panel {
  overflow: hidden;
}

.second-panel {
  position: relative;
  top: $padding-mobile-x-sm;
  left: 0px;
  right: 0px;
  bottom: 0;
  transform: translateX(-$padding-mobile-x-sm);

}


.second-panel__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  //vertical-align: top;
}

.second-panel__extra {
  position: absolute;
  top:0;
}



@media (min-width: 0) and (max-width: $breakpoint-lg) {
  .wrapper{
    display: flex;
    // height: 90%;
    width: 100%;
    padding: $padding-mobile-x-sm;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
  }

  .first-panel__header, .first-panel__body {
    padding-right: 0;
    width: 100%;
  }

  .first-panel__p {
    font-size: 0.7rem;
  }

  .first-panel__h2 {
    color: var(--strong-blue);
    font-size: $font-size-sm;
  }

  // SECOND PANEL
  .second-panel {
    position: relative;
    top: $padding-mobile-x-sm;
    right: 0;
    left: 0;
    // top: $padding-first-panel;
    left: 0px;
    right: 0px;
    transform: translateX(-$padding-mobile-x-sm);
    // height: 100%;
    // flex-basis: 100px;
  }

  .second-panel__img{
    object-fit: cover;
    object-position: center;
  }

  .first-panel {
    padding: $padding-mobile-x-sm $padding-mobile-x-sm  calc($padding-mobile-x-sm + 1em) $padding-mobile-x-sm  ;
  }

  .first-panel, .second-panel{
  //   max-height: none;
  //   min-height: 512px;
  //   // max-width: 80%;
    width: 35rem;
  }

}



@media (min-width: $breakpoint-xl){
  .first-panel, .second-panel {
    width: 35rem;
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl){
  .first-panel, .second-panel {
    width: 30rem;
    height: 600px;
  }
}

@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
  .first-panel, .second-panel {
    width: 30rem;
    height: 500px;
  }
}

@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
  .first-panel, .second-panel {
    width: 20rem;
  }
}

@media (min-width: 0) and (max-width: $breakpoint-sm){
  .first-panel, .second-panel {
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-panel {
    position: static;
    transform: translate(0);

    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .first-panel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
