main {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  max-width: var(--default-content-max-width);
  width: 100%;
  //background-color: blue;
  height: 100px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

