:host {
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.main-wrapper {
  max-width: var(--default-content-max-width);
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}

aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
