<div class="wrapper">
  <div class="dual-panel">
    <div class="dual-panel__img-wrapper">
      <div class="text">
        <div class="text__title">
          <h1 class="text__h1">CONTACTO</h1>
          <div class="text__decoration-div">
            <img src="/icons/CurvaBlanca.svg" alt="" class="text__img">
          </div>
        </div>

        <div class="social-network">
          <a href="/contacto" class="social-network__a" target="_blank">
            <img src="/icons/Facebook.svg" alt="Facebook" class="social-network__icon">
          </a>
          <a href="https://wa.me/528332992144" target="_blank" class="social-network__a">
            <img src="/icons/WhatsApp.svg" alt="Whatsapp" class="social-network__icon">
          </a>
          <a href="mailto:bioindes@gmail.com" target="_blank" class="social-network__a">
            <img src="/icons/Correo.svg" alt="Correo" class="social-network__icon">
          </a>
        </div>
      </div>

      <div class="dual-panel__background-black"></div>
      <img src="/images/Contacto.jpg" alt="" class="dual-panel__img">
    </div>
    <div class="dual-panel__form-wrapper">
      <p class="wrapper__p">
        Escríbenos un mensaje
      </p>
      <contact-us-form></contact-us-form>
    </div>
  </div>

</div>
