@import "../../../../styles.scss";
.wrapper {
  background: var(--strong-blue);
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  gap: 1.5rem;
}

.social-network {
  display: flex;
  gap: 2rem;
}
.social-network__icon {
  width: 36px;
}

.logo-wrapper {
  width: 17rem;
}

a {
  cursor: pointer;
}

p {
  text-align: center;
}

@media (min-width: 0) and (max-width: $breakpoint-sm) {
  .wrapper {
    gap: 1rem;
  }

  .social-network {
    display: flex;
    gap: 2rem;
  }
  .social-network__icon {
    width: 24px;
  }

  .logo-wrapper {
    width: 12rem;
  }

  p {
    font-size: 0.8rem;
  }
}
