/* You can add global styles to this file, and also import other style files */
// Breakpoints
$breakpoint-xsm: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$blue-horizontal-gradient: linear-gradient(90deg, var(--light-blue) 0%, var(--strong-blue) 90%);
$box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
$line-height-sm: 0.8rem;
$line-height-lg: 1.3rem;
$padding-mobile-x: 3em;
$font-size-input: 0.8rem;
$default-content-max-width: 1400px;
$bg-black-op50: rgba(0, 0, 0, 0.50);
$font-size-xxl: 3.5rem;
$font-size-xl: 3rem;
$font-size-l: 2.5rem;
$font-size-m: 2rem;

:root {
  --breakpoint-xsm: #{ $breakpoint-xsm };
  --breakpoint-sm: #{ $breakpoint-sm };
  --breakpoint-md: #{ $breakpoint-md };
  --breakpoint-lg: #{ $breakpoint-lg };
  --breakpoint-xl: #{ $breakpoint-xl };
  --default-content-max-width: #{ $default-content-max-width };
  --title-letter-spacing: 1px;
  --strong-blue: #182660;
  --strong-blue-emphasis: #1e3079;
  --middle-blue: #284787;
  --light-blue: #056FB4;
  --yellow: #B9F54C;
  --green: #53A30D;
  --white: #ffffff;
  --gray: #989898;
  --line-height-sm: #{ $line-height-sm };
  --line-height-lg: #{ $line-height-lg };
  --black-opacity-33: rgba(0, 0, 0, 0.33);
}

// General Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body Defaults
body {
  margin: 0;
  font-family: "Poppins", serif; // Ajusta según tu preferencia
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

// Anchor Tags
a {
  text-decoration: none;
  color: inherit;
  &:hover,
  &:focus {
    text-decoration: underline; // Puedes ajustarlo según el diseño
  }
}

// Lists
ul,
ol {
  list-style: none;
}

// Images
img {
  max-width: 100%;
  height: auto;
  display: block; // Elimina los espacios blancos adicionales
}

// Tables
table {
  border-collapse: collapse;
  width: 100%;
}

// Inputs and Buttons
input,
button,
textarea,
select {
  font: inherit; // Hereda la tipografía del padre
  border: none;
  outline: none;
}

input, textarea {
  border: 1px solid var(--light-blue);
  border-radius: 5px;
  padding: 0.4em 0.6em;
  font-size: $font-size-input;
}

input:focus {
  outline: 1.5px solid var(--strong-blue-emphasis);
}


button {
  cursor: pointer;
  padding: 0.5rem;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
  line-height: 1.2;
}

// Strong and Bold
strong {
  font-weight: bold;
}

// Blockquote
blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc;
}

button {
  //background-color: var(--white);
  //color: var(--strong-blue);
  border: none;
  border-radius: 50px;
  letter-spacing: 1px;
  //margin-top: 15px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none; /* Propiedad estándar */
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--strong-blue);
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.90rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.active {
  text-decoration: underline;
  text-underline-offset: 0.31rem;
  color: var(--green);
}


a {
  letter-spacing: 0.06rem;
}

a:hover {
  text-decoration: none;
  color: var(--green);
}


