<div class="wrapper">
  <div class="form-wrapper">
    <form class="form" [formGroup]="contactUsForm" (ngSubmit)="submit()">
      <div class="form__input-wrapper">
        <input id="nombre"
               formControlName="nombre"
               placeholder=""
               type="text"
               class="form__input"
               autocomplete="off"/>
        <label for="nombre"  class="form__label">Nombre *</label>
      </div>
      <div class="form__input-wrapper">
        <input id="correo"
               formControlName="correo"
               placeholder=""
               type="email"
               class="form__input"
               autocomplete="off"/>
        <label for="correo" class="form__label">Correo electronico *</label>
      </div>
      <div class="form__input-wrapper">
        <input id="empresa"
               formControlName="empresa"
               placeholder=""
               type="text"
               class="form__input"
               autocomplete="off"/>
        <label for="empresa" class="form__label">Empresa *</label>
      </div>
      <div class="form__input-wrapper">
        <input id="telefono"
               formControlName="telefono"
               placeholder=""
               type="tel"
               class="form__input"
               autocomplete="off"/>
        <label for="telefono" class="form__label">Teléfono *</label>
      </div>
      <div class="form__input-wrapper">
        <input id="ciudad"
               formControlName="ciudad"
               placeholder=""
               type="text"
               class="form__input"
               autocomplete="off"/>
        <label for="ciudad" class="form__label">Ciudad *</label>
      </div>
      <div class="form__input-wrapper">
        <input id="codigoPostal"
               formControlName="cp"
               placeholder=""
               type="number"
               class="form__input"
               autocomplete="off"/>
        <label for="codigoPostal" class="form__label">Código postal *</label>
      </div>
      <div class="form__input-wrapper">
        <textarea id="mensaje"
                  formControlName="mensaje"
                  placeholder=""
                  type="text"
                  class="form__input"
                  autocomplete="off">

        </textarea>
        <label for="mensaje" class="form__label">Mensaje *</label>
      </div>
      <button class="form__button" (click)="submit()">Enviar</button>
    </form>
  </div>
</div>
